
:root {
    --main-bg-color:rgb(0,64,128);
    --second-bg-color: rgb(91, 147, 193); 
    --darker-bg-color: rgb(0,0,139); 
}

body {
    background-image: linear-gradient(to right, #ffff, var(--main-bg-color)  );
}

.appMessaging {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;

}

.chatWindow {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Chat icons */
.userNameDiv {
    padding: 10px;
    width: 100%;
    overflow: hidden;
    background-color: var(--darker-bg-color);
    color: whitesmoke;
}
#userNameBtn {
    border: none;
    width: 10%;
    padding: 10px;
}

.chatIcon, .clearIcon {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}
.chatIcon:hover {
    background-color: var(--second-bg-color);
    color: white;
}
.clearIcon:hover {
    background-color: red;
    color: white;
}
.chatIconsDiv {
    display: flex;
    width: 100%;
    height:auto;
    background-color: transparent;
    color: white;
    justify-content: flex-end;
}

.messageContainer {
    max-height: 300px;
    overflow-y: auto;
    margin: 10px 0;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between messages */
}

#chatSelector {
    width: 100%;
    height: 30px;
}
/*  */
.inputMsgDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}
.userNameForm {
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}
#userNameInput {
    width: 100%;
    margin-right: 10px;
}
#userNameBtn {
    height: 30px;
    border-radius: 5px;
}
#userNameBtn:hover {
    cursor: pointer;
    background-color: var(--second-bg-color);
    color: white;
}

#messageInput {
    width: 85%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#sendMessageBtn {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;

}
#sendMessage:hover {
    background-color: #a9f4ac;
}
.senderInfo {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;

    padding: 5px;
    margin: 0;
    background-color: transparent;
    color: whitesmoke;
}

/* actual message div */
.message {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 10px 10px 0px 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}
.message:nth-child(even) {
    background-color: #e0e0e0bb;
}
.message:first-child {
    margin-top: 20px; /* Add space to avoid overlap of messages */
}

/* Private message styles */
.message.private {
    color: green;
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

/* Broadcast message styles */
.message.broadcast {
    color: blue;
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
